<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./head %>
    <script type="text/javascript" src='/js/wishlist-scripts.js'></script>
    <link rel="stylesheet" href="/stylesheets/results.css">
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
  <header>
    <% include ./header %>
  </header>

  <main role="main" id="results__main">
      <h2 class="h2-style"><%= title %></h2>
    <% for (let i = 0; i < allProducts.length; i++) { %>
      <article class="card">
        <div class="top-line">
          <img class="product-img" src=<%=allProducts[i].image%> />
        </div>
        <div class="bottom-line">
          <h3 class="product-title"><%=allProducts[i].title%></h3>
          <h4 class="product-price"><%=allProducts[i].price%></h4>
          <button class="product-url button" id="card-btn"><a id="product-url" title="attachment-link" target="_blank" href="<%= allProducts[i].url %>">More Details</a></button>
          <button class="wishlist-btn button" id="card-btn">Add to Wishlist</button>
        </div>
      </article>
      <% } %>
  </main>
  <footer>
    <% include ./footer %>
  </footer>

</body>

</html>
