<!DOCTYPE html>
<html lang='en'>

<head>
      <% include ./head %>
<link rel='stylesheet' href='/stylesheets/wishlist.css' />
<link rel='stylesheet' href='/stylesheets/results.css' />
<link rel='stylesheet' href='/stylesheets/index.css' />
  <script src = '/js/scripts.js'></script>
</head>

<body>
  <header>
    <% include ./header %>
  </header>

  <div id='main-container'>

    <div class='menu' id='settings-container'>
      <a href='index' class='settings__a'>HOME</a>
      <a href='#' class='settings__a'>MY SETTINGS</a>
      <a href='#' id='logout-button' class='settings__a'>LOG OUT</a>
      <button type="submit" name="button" class='button' id='delete-user'>Delete Account</button>
    </div>

    <main role="main" id="results__main">
        <h2 class="h2-style"><%= title %></h2>
      <% for (let i = 0; i < allItems.length; i++) { %>
        <article class="card">
          <div class="top-line">
            <img class="product-img" src=<%=allItems[i].image%> />
          </div>
          <div class="bottom-line">
            <h3 class="product-title"><%=allItems[i].title%></h3>
            <h4 class="product-price"><%=allItems[i].price%></h4>
            <button class="product-url button" id="card-btn"><a id="product-url" title="attachment-link" target="_blank" href="<%= allItems[i].url %>">More Details</a></button>
            <button class="wishlist-btn button" id="card-btn">Add to Wishlist</button>
          </div>
        </article>
        <% } %>
    </main>
  </div>


  <footer>
    <% include ./footer %>
  </footer>
</body>

</html>
